/* Variables */
:root {
  --thin-rule: 1px solid rgba(0,0,0,0.1);
  font-family: 'Avenir Next';
  color: #333;
}



* { box-sizing: border-box }

body, h1,h2,h3,h4,h5, div {margin: 0;}
section {margin: 10rem 0;}


body {
  background-color:rgba(0,0,0,0.75);
}

code {
  border-radius: 0.25em;
  padding: 0.25em;
  background-color: rgba(0,0,0,0.05);
  color: rgba(255,0,128,1);
}


.plain {
  list-style: none;
  padding:0;
}

.columns {columns: 20em auto;column-gap: 2rem;column-rule: var(--thin-rule);column-fill:balance-all;}

section.columns > h2 {
  margin: 0;
  padding: 1rem;
  border-bottom: var(--thin-rule);
}