<?publish 1?>
<?title Basics?>
<?render behavior, canonical, sections?>
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/ux/css/kit.css" type="text/css" media="screen" />
    <title>${title}</title>
  </head>
  <body>
    <nav>
      <!-- iterate pages -->
      <a href="/${route}">${title}</a>
    </nav>
    <main>
      <!-- yield -->
      <!-- insert ../README.md-->
    </main>
    <script src="/ux/js/kit.js"></script>
  </body>
</html>