<section style="border-top:var(--thin-rule);padding:5em 0 0;margin: 5em 0;">
  <h2>TODO</h2>
  <ul class="plain">
    <li>
      <label>
        <input type="checkbox" checked="checked"/>
        <span>Consider abandoning namespaces</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" checked="checked"/>
        <span>Implement lazy loader of <a href="#async">async scripts</a></span>
      </label>
    </li>
    <li>
      <input type="checkbox" checked="checked"/>
      <span>Utilize custom <q>markdown</q> formatting library</span>
    </li>
    <li>
      <input type="checkbox" checked="checked"/>
      <span>Move sub-page &lt;meta&gt; and &lt;style&gt; elements into &lt;head&gt; of page</span>
    </li>
    <li>
      <input type="checkbox"/>
      <span>Deal with media (especially streaming) in sustainable way</span>
    </li>
  </ul>
  
</section>
