:root {
  color: #333;
}

:target {
  text-decoration: underline;
  font-weight:600;
}

* { box-sizing: border-box }


body, h1,h2,h3,h4,h5, div {margin: 0; padding: 0; line-height:1.625;}

li[data-depth] ul,
li[data-depth] ol { margin: 0.25rem 1rem;}
